@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<User> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CoronaCheckIn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body style="background-color: #E9ECEF">
@* <header> *@
@*     <nav class="navbar  navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
@*         <div class="container-fluid"> *@
@*             <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CoronaCheckIn</a> *@
@*             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
@*                     aria-expanded="false" aria-label="Toggle navigation"> *@
@*                 <span class="navbar-toggler-icon"></span> *@
@*             </button> *@
@*             <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> *@
@*                 <ul class="navbar-nav flex-grow-1"> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="" asp-controller="accounts" asp-action="Index">Accounts</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@* *@
@*                     </li> *@
@*                 </ul> *@
@*                 <partial name="_LoginPartial"/> *@
@*             </div> *@
@*         </div> *@
@*     </nav> *@
@* </header> *@
@if (SignInManager.IsSignedIn(User))
{
    <div class="container-fluid p-0 vh-100 d-flex">

        <div class="h-100 position-fixed d-flex flex-column flex-shrink-0 p-3 bg-dark" id="navbar" style="width: 280px;">
            <div class="h3 nav-item text-center mb-5 pb-5 mt-4">
                <a class="mb-3 link-light text-decoration-none" style="color: #9551FE" asp-area="" asp-controller="Home" asp-action="Index">
                    CoronaCheckIn
                </a>
            </div>
            <ul class="nav nav-pills h-50 flex-column mt-4 mb-auto">
                <li class="nav-item mb-4 text-center">
                    <div>
                        <a class="nav-link link-light @(ViewData["Title"].Equals(SharedLocalizer["Dashboard"].Value)  ? "link-active" : "")" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="bi bi-layout-text-window-reverse pe-1"></i>
                            @SharedLocalizer["Dashboard"]
                        </a>
                    </div>
                </li>
                <li class="nav-item mb-4 text-center">
                    <a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Privacy">
                        <i class="bi bi-clock pe-1"></i>
                        Session
                    </a>
                </li>
                <li class="nav-item mb-4 text-center">
                    <a href="#" class="nav-link link-light">
                        <i class="bi bi-clipboard-pulse pe-1"></i>
                        Cases
                    </a>
                </li>
                <li class="nav-item mb-4 text-center">
                    <a class="nav-link link-light @(ViewBag.title?.Equals(SharedLocalizer["Rooms"].Value) ? "link-active" : "")" asp-controller="rooms" asp-action="Index">
                        <i class="bi bi-house pe-1"></i>
                          @SharedLocalizer["Rooms"]
                    </a>
                </li>
                <li class="nav-item mb-4 text-center">
                    <a class="nav-link link-light @(ViewBag.title?.Equals(SharedLocalizer["Accounts"].Value) ? "link-active" : "")" asp-area="" asp-controller="accounts" asp-action="List">
                        <i class="bi bi-people-fill pe-1"></i>
                          @SharedLocalizer["Accounts"]
                    </a>
                </li>
                <li class="nav-item mb-4 text-center">
                    <a href="#" class="nav-link link-light">
                        <i class="bi bi-gear pe-1"></i>
                        Settings
                    </a>
                </li>
            </ul>

            <ul class="nav nav-pills flex-column align-items-center">


                <partial name="_LoginPartial"/>
                <li class="nav-item mb-3 text-center">
                    <a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Imprint">
                        Imprint
                    </a>
                </li>
                <li class="nav-item  text-center">
                    <a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Privacy">
                        Privacy
                    </a>
                </li>

            </ul>

        </div>

        <main role="main" style="width: calc(100% - 280px); margin:  38px 30px 0 300px">

            @RenderBody()
            @* <div class="w-100 position-absolute bottom-0"> *@
        @*     <footer class="border-top footer text-muted "> *@
        @*     <div class="container"> *@
        @*         &copy; 2022 - CoronaCheckIn - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        @* *@
        @*         $1$ TODO: Vertical center the select #1# *@
        @*         <select class="form-select form-select-md float-end w-auto mt-2" id="languageSelector" onchange="switchLanguage(this)"> *@
        @*             $1$ TODO: Is there a better way to do this #1# *@
        @*             <option value="en" selected=@(@Context.Request.Cookies[".AspNetCore.Culture"]?.Split("=")[2] == "en" ? true : false)>English</option> *@
        @*             <option value="de" selected=@(@Context.Request.Cookies[".AspNetCore.Culture"]?.Split("=")[2] == "de" ? true : false)>Deutsch</option> *@
        @*         </select> *@
        @*     </div> *@
        @* </footer> *@
            @* </div> *@
        </main>
    </div>
}
else
{
<div class="container-fluid p-0 vh-100">
    <main role="main">

        @RenderBody()
    </main>
</div>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>