@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<User> SignInManager
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CoronaCheckIn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body style="background-color: #E9ECEF">
@* <header> *@
@*     <nav class="navbar  navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
@*         <div class="container-fluid"> *@
@*             <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CoronaCheckIn</a> *@
@*             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
@*                     aria-expanded="false" aria-label="Toggle navigation"> *@
@*                 <span class="navbar-toggler-icon"></span> *@
@*             </button> *@
@*             <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> *@
@*                 <ul class="navbar-nav flex-grow-1"> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="" asp-controller="accounts" asp-action="Index">Accounts</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@* *@
@*                     </li> *@
@*                 </ul> *@
@*                 <partial name="_LoginPartial"/> *@
@*             </div> *@
@*         </div> *@
@*     </nav> *@
@* </header> *@
@if (SignInManager.IsSignedIn(User))
{
    <div class="container-fluid p-0 vh-100">
        <div class="row h-100 m-0">
            <div class="col-2 col-lg-2 col-sm-2 p-0">
                <div class="h-100 d-flex flex-column flex-shrink-0 p-3 bg-dark" id="navbar">
                    <div class="h3 nav-item text-center mb-5 pb-5 mt-4">
                        <a class="mb-3 link-light text-decoration-none title" style="color: #9551FE" asp-area="" asp-controller="Home" asp-action="Index">
                            CoronaCheckIn
                        </a>
                        <a class="mb-3 link-light text-decoration-none icon" style="color: #9551FE" asp-area="" asp-controller="Home" asp-action="Index">
                            CCI
                        </a>
                    </div>
                    <ul class="nav nav-pills h-50 flex-column mt-4 mb-auto">
                        <li class="nav-item mb-4 text-center">
                            <div>
                                <a class="nav-link link-light @(ViewData["Title"].Equals(SharedLocalizer["Dashboard"].Value) ? "link-active" : "")" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="bi bi-layout-text-window-reverse pe-1"></i>
                                    <span class="sidenav-title">@SharedLocalizer["Dashboard"]</span>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item mb-4 text-center">
                            <a id="session" class="nav-link link-light @(ViewBag.title.Equals("Sessions") ? "link-active" : "")" asp-controller="sessions" asp-action="Index">
                                <i class="bi bi-clock pe-1"></i>
                                <span class="sidenav-title">@SharedLocalizer["Sessions"]</span>
                @{
                    var enabledFrontoffice = @Configuration.GetSection("EnableFrontoffice").Value;
                    if (enabledFrontoffice == "True")
                    {
                        <li class="nav-item mb-4 text-center">
                            <a class="nav-link link-light @(ViewBag.title?.Equals(SharedLocalizer["Frontoffice"].Value) ? "link-active" : "")" asp-area="" asp-controller="home" asp-action="frontoffice">
                                <i class="bi bi-house-fill pe-1"></i>
                                @SharedLocalizer["Frontoffice"]
                            </a>
                        </li>
                    }
                }

                            </a>
                        </li>
                        @{
                            var para = new Dictionary<string, string>
                            {
                                { "infected", "true" }
                            };
                        }
                        <li class="nav-item mb-4 text-center">
                            <a class="nav-link link-light @(ViewBag.title?.Equals(SharedLocalizer["Rooms"].Value) ? "link-active" : "")" asp-controller="rooms" asp-action="Index">
                                <i class="bi bi-house pe-1"></i>
                                <span class="sidenav-title">@SharedLocalizer["Rooms"]</span>
                            </a>
                        </li>
                        <li class="nav-item mb-4 text-center">
                            <a class="nav-link link-light @(ViewBag.title?.Equals(SharedLocalizer["users"].Value) ? "link-active" : "")" asp-area="" asp-controller="accounts" asp-action="List">
                                <i class="bi bi-people-fill pe-1"></i>
                                <span class="sidenav-title">@SharedLocalizer["users"]</span>
                            </a>
                        </li>
                        <li class="nav-item mb-4 text-center">
                            <a class="nav-link link-light @(ViewBag.title?.Equals(SharedLocalizer["Settings"].Value) ? "link-active" : "")" asp-area="" asp-controller="Home" asp-action="Setting">
                                <i class="bi bi-gear pe-1"></i>
                                <span class="sidenav-title">@SharedLocalizer["Settings"]</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav nav-pills flex-column align-items-center">


                        <partial name="_LoginPartial"/>
                        <li class="nav-item mb-3 text-center">
                            <a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Imprint">
                                @SharedLocalizer["Imprint"]
                            </a>
                        </li>
                        <li class="nav-item  text-center">
                            <a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Privacy">
                                @SharedLocalizer["Privacy"]
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
            <div class="col-10 col-lg-10 col-sm-10 p-0 content">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid p-0 vh-100">
        <main role="main">

            @RenderBody()
        </main>
    </div>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>