@model (Room room, IEnumerable<Session> allRoomSessions, IEnumerable<Session> infectedRoomSessions)

@{
    ViewBag.title = SharedLocalizer["Room Details"].Value;
}
<div class="d-flex justify-content-between mb-4">
    <h1 class="print">@SharedLocalizer["Room"]: @Model.room.Name</h1>
</div>

<div class="container-fluid mb-5 px-0">
    <div class="row">
        <p class="print">@SharedLocalizer["MaxParticipants"]: @Model.room.MaxParticipants</p>
        <p class="print">@SharedLocalizer["MaxDuration"]: @Model.room.MaxDuration @SharedLocalizer["Minutes"]</p>
        <p>@SharedLocalizer["Faculty"]: @Model.room.Faculty</p>
        
        <h2 class="print">QR-Code</h2>
    </div>
    <div class="row">
        <div class="col-md-2">
            <img src="data:image;base64,@System.Convert.ToBase64String(@ViewBag.QrCode)" id="qrcode" class="img-fluid print" style="image-rendering: pixelated;"/>
        </div>
    </div>
    <p class="print only-print">Bitte scannen Sie den QR-Code mit der Corona-Checkin-App ein!</p>
    <p class="print only-print">Please scan the QR-Code with your Corona-Checkin-App!</p>
    <div class="row">
        <div class="col-md-2 d-grid gap-2 mt-2">
            <button type="button" class="btn btn-outline-primary btn-block" data-bs-toggle="modal" data-bs-target="#myModal">
                <span class="bi bi-arrow-clockwise"></span> @Localizer["New QR code"]
            </button>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-2 d-grid gap-2 mt-2">
            <button type="button" class="btn btn-outline-primary btn-block" onclick="window.print()">
                <span class="bi bi-printer"></span> @SharedLocalizer["Drucken"]
            </button>
        </div>
    </div>    
    <div class="row">    
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>@Localizer["Last Sessions"]</h2>
        @if (Model.allRoomSessions.Count() > 0)
        {
            <table class="table table-hover" style="cursor: pointer;">
                <thead>
                    <tr class="user-select-none">
                        <th hidden scope="col">Id</th>
                        <th scope="col" id="table-head-user" onclick="sortBy('user')">
                            @SharedLocalizer["User"]
                            <i class="bi bi-dash-lg pe-1"></i>
                        </th>
                        <th scope="col" id="table-head-start" onclick="sortBy('start')">
                            @SharedLocalizer["StartTime"]
                            <i class="bi bi-dash-lg pe-1"></i>
                        </th>
                        <th scope="col" id="table-head-end" onclick="sortBy('end')">
                            @SharedLocalizer["EndTime"]
                            <i class="bi bi-dash-lg pe-1"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var session in Model.allRoomSessions)
                    {
                        <tr>
                            <th hidden scope="row">@session.Id</th>
                            <td>@session.User.Firstname @session.User.Lastname</td>
                            <td>@session.StartTime</td>
                            <td>@session.EndTime</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-primary mt-3" role="alert">
                @Localizer["No sessions found"]
            </div>
        }
        <a href="/sessions?roomName=@Model.room.Name" class="btn btn-primary" role="button">@Localizer["All Sessions"]</a>
    </div>
    <div class="col-md-6">
        <h2>@Localizer["Last Infections"]</h2>
        @if(Model.infectedRoomSessions.Count() > 0)
        {
            <table class="table table-hover" style="cursor: pointer;">
                <thead>
                <tr class="user-select-none">
                    <th hidden scope="col">Id</th>
                    <th scope="col" id="table-head-user" onclick="sortBy('user')">
                        @SharedLocalizer["User"]
                        <i class="bi bi-dash-lg pe-1"></i>
                    </th>
                    <th scope="col" id="table-head-start" onclick="sortBy('start')">
                        @SharedLocalizer["StartTime"]
                        <i class="bi bi-dash-lg pe-1"></i>
                    </th>
                    <th scope="col" id="table-head-end" onclick="sortBy('end')">
                        @SharedLocalizer["EndTime"]
                        <i class="bi bi-dash-lg pe-1"></i>
                    </th>
                    <th scope="col" id="table-head-end" onclick="sortBy('end')">
                        @SharedLocalizer["InfectionDate"]
                        <i class="bi bi-dash-lg pe-1"></i>
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var session in Model.infectedRoomSessions)
                {
                    <tr>
                        <th hidden scope="row">@session.Id</th>
                        <td>@session.User.Firstname @session.User.Lastname</td>
                        <td>@session.StartTime</td>
                        <td>@session.EndTime</td>
                        <td>TODO</td>
                    </tr>
                }
                </tbody>
            </table>
        } 
        else
        {
            <div class="alert alert-primary mt-3" role="alert">
                @Localizer["No infections found"]
            </div>
        }
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">@Localizer["New QR code"]</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @Localizer["Do you want to generate a new QR code?"]
          <div class="alert alert-warning mt-3" role="alert">
              @Localizer["GenerateQRCodeWarning"]
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@SharedLocalizer["Cancel"]</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="generateQrCode('@Model.room.Id')">@SharedLocalizer["Yes"]</button>
      </div>
    </div>
  </div>
</div>

@section Scripts {
    <script type="text/javascript">

       function generateQrCode(id) {
           console.log(id);
           $.ajax({
            url: "/rooms/GenerateQrCode/" + id,
            success: function (data) {
                document.getElementById('qrcode').src = 'data:image/png;base64,' + data;
            },
            error: function (error) {
                alert("Error: " + error);
            }
          })
       }
    </script>
}