@model (Room room, IEnumerable<Session> allRoomSessions, IEnumerable<Session> infectedRoomSessions)

@{
    ViewBag.title = SharedLocalizer["Rooms"].Value;
}
<div class="d-flex justify-content-between mb-4">
    <h3>@SharedLocalizer["Room Details"]: @Model.room.Name</h3>
</div>

<div class="container-fluid mb-5 px-0">
    <div class="row">
        <div class="col">
            <div class="card px-3 h-100">
                <div class="row align-items-center h-25 border-bottom">
                    <div class="col-lg-4 col-md-7">
                        <p class="mb-0 fw-bold ">@SharedLocalizer["RoomName"]:</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">@Model.room.Name</p>
                    </div>
                </div>
                <div class="row align-items-center h-25 border-bottom">
                    <div class="col-lg-4 col-md-7">
                        <p class="mb-0 fw-bold ">@SharedLocalizer["MaxParticipants"]:</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">@Model.room.MaxParticipants</p>
                    </div>
                </div>
                <div class="row align-items-center h-25 border-bottom">
                    <div class="col-lg-4 col-md-7">
                        <p class="mb-0 fw-bold ">@SharedLocalizer["MaxDuration"]:</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">@Model.room.MaxDuration @SharedLocalizer["Minutes"]</p>
                    </div>
                </div>
                <div class="row align-items-center h-25">
                    <div class="col-lg-4 col-md-7">
                        <p class="mb-0 fw-bold ">@SharedLocalizer["Faculty"]:</p>
                    </div>
                    <div class="col">
                        <p class="mb-0">@Model.room.Faculty</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col fixed-width">
            <div class="card h-100">
                <div class="row">
                    <div class="col">
                        <img src="data:image;base64,@System.Convert.ToBase64String(@ViewBag.QrCode)" id="qrcode" class="img-fluid" style="image-rendering: pixelated;"/>

                    </div>
                </div>
                <div class="row fixed-margin">
                    <div class="col-md-6 d-grid gap-2">
                        <button type="button" class="btn text-light btn-block" style="background-color:#9551FE" data-bs-toggle="modal" data-bs-target="#GenerateQrCodeModal">
                            <span class="bi bi-arrow-clockwise"></span>
                        </button>
                    </div>
                    <div class="col-md-6 d-grid gap-2">
                        <button type="button" class="btn text-light btn-block" style="background-color:#9551FE" onclick="window.open('/rooms/generateRoomPdf/@Model.room.Id');">
                            <span class="bi bi-printer"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <h4>@Localizer["Last Sessions"]</h4>
        @if (Model.allRoomSessions.Count() > 0)
        {
            <table class="table table-hover" style="cursor: pointer;">
                <thead>
                    <tr class="user-select-none">
                        <th hidden scope="col">Id</th>
                        <th scope="col" id="table-head-user" onclick="sortBy('user', '@Model.room.Id')">
                            @SharedLocalizer["User"]
                            <i class="bi bi-arrow-down-up pe-1"></i>
                        </th>
                        <th scope="col" id="table-head-start" onclick="sortBy('start', '@Model.room.Id')">
                            @SharedLocalizer["StartTime"]
                            <i class="bi bi-arrow-down-up pe-1"></i>
                        </th>
                        <th scope="col" id="table-head-end" onclick="sortBy('end', '@Model.room.Id')">
                            @SharedLocalizer["EndTime"]
                            <i class="bi bi-arrow-down-up pe-1"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var session in Model.allRoomSessions)
                    {
                        <tr>
                            <th hidden scope="row">@session.Id</th>
                            <td>@session.User.Firstname @session.User.Lastname</td>
                            <td>@session.StartTime</td>
                            <td>@session.EndTime</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-primary mt-3" role="alert">
                @Localizer["No sessions found"]
            </div>
        }
        <a href="/sessions?roomName=@Model.room.Name"  class="btn text-light mt-4" style="background-color:#9551FE" role="button">@Localizer["All Sessions"]</a>
    </div>
    <div class="col-md-6">
        <h4>@Localizer["Last Infections"]</h4>
        @if(Model.infectedRoomSessions.Count() > 0)
        {
            <table class="table table-hover" style="cursor: pointer;">
                <thead>
                <tr class="user-select-none">
                    <th hidden scope="col">Id</th>
                    <th scope="col" id="table-head-user" onclick="sortBy('user', '@Model.room.Id')">
                        @SharedLocalizer["User"]
                        <i class="bi bi-arrow-down-up pe-1"></i>
                    </th>
                    <th scope="col" id="table-head-start" onclick="sortBy('start', '@Model.room.Id')">
                        @SharedLocalizer["StartTime"]
                        <i class="bi bi-arrow-down-up pe-1"></i>
                    </th>
                    <th scope="col" id="table-head-end" onclick="sortBy('end', '@Model.room.Id')">
                        @SharedLocalizer["EndTime"]
                        <i class="bi bi-arrow-down-up pe-1"></i>
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var session in Model.infectedRoomSessions)
                {
                    <tr>
                        <th hidden scope="row">@session.Id</th>
                        <td>@session.User.Firstname @session.User.Lastname</td>
                        <td>@session.StartTime</td>
                        <td>@session.EndTime</td>
                    </tr>
                }
                </tbody>
            </table>
        } 
        else
        {
            <div class="alert alert-primary mt-3" role="alert">
                @Localizer["No infections found"]
            </div>
        }
    </div>
</div>

<div class="modal fade" id="GenerateQrCodeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Localizer["New QR code"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Localizer["Do you want to generate a new QR code?"]
                <div class="alert alert-warning mt-3" role="alert">
                    @Localizer["GenerateQRCodeWarning"]
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@SharedLocalizer["Cancel"]</button>
                <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" onclick="generateQrCode('@Model.room.Id')">@SharedLocalizer["Yes"]</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">                
        $(document).ready(function() {
            const params = new URLSearchParams(window.location.search);
            
            // Set faculty switch to filtered one
            const faculty = params.get('faculty') || '-1';
            
            $("#faculty-filter-switch").val(faculty).change();
            initialFacultySwitch = true;
            
            // Set name search to url query
            $("#input-name-search").val(params.get('name'));
            
            // Setup sorting of table heads
            const sortBy = params.get('sortBy');
            const sortOrder = params.get('sortOrder');
            
            // Place the correct icons beside the sorted table headings
            const heading = $(`#table-head-${sortBy} > i`);
            heading.removeClass('bi-arrow-down-up');
            heading.addClass(sortOrder === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down');
        });

        function generateQrCode(id) {
            console.log(id);
            $.ajax({
            url: "/rooms/GenerateQrCode/" + id,
            success: function (data) {
                document.getElementById('qrcode').src = 'data:image/png;base64,' + data;
            },
            error: function (error) {
                alert("Error: " + error);
            }
            })
        }

        function sortBy(key, id) {
            console.log(id);
            // https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams
            const params = new URLSearchParams(window.location.search);
            
            // Either get the sortOrder from the url or if null an empty string
            // And then just switch to the other one (default to asc)
            let sortOrder = params.get('sortOrder') || '';
            if (sortOrder === '' || sortOrder === 'desc'){
                sortOrder = 'asc';
            } else {
                sortOrder = 'desc';
            }
            
            const url = `/rooms/details/${id}?sortBy=${key}&sortOrder=${sortOrder}`
            
            window.location.replace(url);
        }
    </script>
}