@model IEnumerable<Room>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.title = SharedLocalizer["Rooms"].Value;
}

<div class="d-flex justify-content-between mb-4">
    <h3>@Localizer["All Rooms"]</h3>
    <button id="modalBtn" class=" text-light btn " style="background-color:#9551FE ">Erstellen</button>
</div>

<div class="input-group mb-3 flex">
    <div class="flex-row col-12 col-md-5">
        <label class="control-label" for="input-name-search">@Localizer["Search by room-name"]</label>
        <input id="input-name-search" type="text" class="form-control" placeholder="@Localizer["Room1"]">
    </div>
    <div class="flex-row ms-md-4 mt-1 mt-md-0">
        <label class="control-label" for="faculty-filter-switch">@SharedLocalizer["Faculty"]</label>
        <select id="faculty-filter-switch" asp-items="Html.GetEnumSelectList<Faculty>()" class="form-select" style="max-width: 128px">
            <option value="-1">@SharedLocalizer["All"]</option>
        </select>
    </div>
    <div class="flex-row ms-4">
        <label class="control-label"> </label>
        <button class="btn btn-outline-dark form-control" type="button" onclick="search(this)">@SharedLocalizer["Filter"]</button>
    </div>
    <div class="flex-row ms-1">
        <label class="control-label"> </label>
        <button class="btn btn-outline-danger form-control" type="button" onclick="resetFilters(this)">@SharedLocalizer["ResetFilter"]</button>
    </div>
</div>

@if (Model.ToList().Count() > 0)
{
    <table class="table table-hover" style="cursor: pointer;">
        <thead>
        <tr class="user-select-none">
            <th hidden scope="col">Id</th>
            <th scope="col" id="table-head-name" onclick="sortBy('name')">
                @SharedLocalizer["Name"]
                <i class="bi bi-dash-lg pe-1"></i>
            </th>
            <th scope="col" id="table-head-faculty" onclick="sortBy('faculty')">
                @SharedLocalizer["Faculty"]
                <i class="bi bi-dash-lg pe-1"></i>
            </th>
            <th scope="col" id="table-head-maxDuration" onclick="sortBy('maxDuration')">
                @SharedLocalizer["MaxDuration"]
                <i class="bi bi-dash-lg pe-1"></i>
            </th>
            <th scope="col" id="table-head-maxParticipants" onclick="sortBy('maxParticipants')">
                @SharedLocalizer["MaxParticipants"]
                <i class="bi bi-dash-lg pe-1"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var room in Model)
        {
            <tr >
                <th hidden scope="row">@room.Id</th>
                <td onclick="navigate('@room.Id')">@room.Name</td>
                <td onclick="navigate('@room.Id')">@room.Faculty</td>
                <td onclick="navigate('@room.Id')">@room.MaxDuration</td>
                <td onclick="navigate('@room.Id')">@room.MaxParticipants</td>
                <td class="pr-0 text-end">
                    <div class="btn" onclick="getRoomModal('@room.Id')" style="background-color:#9551FE ">
                        <i class="bi bi-pen text-light"></i>
                    </div>
                    <a type="submit" asp-action="RemoveRoom" asp-route-id="@room.Id" class="btn" style="background-color:#9551FE">
                        <i class="bi bi-trash text-light"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-primary mt-3" role="alert">
        @Localizer["No rooms found"]
    </div>
}
<form id="roomForm" data-ajax-method="POST">
    <div id="createRoomModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <div id="titleDetails" class="col-11 text-center">
                        <h4 style="color: #9551FE; display: none">@Localizer["CreateRoom"]</h4>
                        <h4 style="color: #9551FE; display: none">@Localizer["UpdateRoom"]</h4>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">X</button>
                    </div>
                </div>
                <div class="modal-body" id="formDetails">
                    <partial id="detailsContent" name="~/Views/Rooms/CreateRoom.cshtml" model="@ViewBag.newRoom"/>
                </div>
                <div class="col-12 modal-footer border-0">
                    <button id="btnSubmit" type="submit" class="w-100 text-light btn btn-lg" style="background-color:#9551FE " onclick="submitRoom()">@SharedLocalizer["Save"]</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        let initialFacultySwitch = false;
        
        $(document).ready(function() {
            const params = new URLSearchParams(window.location.search);
            
            // Set faculty switch to filtered one
            const faculty = params.get('faculty') || '-1';
            
            $("#faculty-filter-switch").val(faculty).change();
            initialFacultySwitch = true;
            
            // Set name search to url query
            $("#input-name-search").val(params.get('name'));
            
            // Setup sorting of table heads
            const sortBy = params.get('sortBy');
            const sortOrder = params.get('sortOrder');
            
            // Place the correct icons beside the sorted table headings
            const heading = $(`#table-head-${sortBy} > i`);
            heading.removeClass('bi-dash-lg');
            heading.addClass(sortOrder === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down');
        });
        
       function navigate(row){
            const url = `/rooms/details/${row}`;
            window.location.replace(url);
        }
        
        function sortBy(key) {
            // https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams
            const params = new URLSearchParams(window.location.search);
            
            // Either get the sortOrder from the url or if null an empty string
            // And then just switch to the other one (default to asc)
            let sortOrder = params.get('sortOrder') || '';
            if (sortOrder === '' || sortOrder === 'desc'){
                sortOrder = 'asc';
            } else {
                sortOrder = 'desc';
            }
            
            const url = `/rooms?sortBy=${key}&sortOrder=${sortOrder}`
            
            window.location.replace(url);
        }
        
       function filterFaculty(dropdown) {
           if (initialFacultySwitch){
               
               const params = new URLSearchParams(window.location.search);
               
               const faculty = dropdown.options[dropdown.selectedIndex].value;
               if (faculty.toString() === '-1'){
                   params.delete('faculty');
               } else {
                   params.set('faculty', faculty);
               }
               
               window.location.search = params.toString();
           }
       }
        
       function search(){
           const params = new URLSearchParams(window.location.search);
           
           const searchString = $("#input-name-search").val();
           if (searchString.toString().trim().length > 0){
               params.set('name', searchString);
           } else {
               params.delete('name');
           }
           
           const facultyEl = $('#faculty-filter-switch')[0];
           const faculty = facultyEl.options[facultyEl.selectedIndex].value;
           if (faculty.toString() === '-1'){
               params.delete('faculty');
           } else {
               params.set('faculty', faculty);
           }
           
           window.location.search = params.toString();
       }
       
        function getRoomModal(room){
            $.ajax({
                url: "/rooms/CreateRoom",
                method: "GET",
                data: {"roomId": room},
                success: function (result) {                                
                     $("#createRoomModal").modal("show");
                   
                     let titleFormCreate = $("#titleDetails")[0].children[0];
                     titleFormCreate.style.display= "none";
                     
                     let titleFormUpdate = $("#titleDetails")[0].children[1];
                     titleFormUpdate.style.display= "block";
                
                     
                     let modalBody = $("#formDetails")[0];
                    
                     let children = modalBody.children[1];
                        
                    let name = children.children[1].children[0];
                    name.value= result.name;
    
                    let maxParticipants= children.children[3].children[0];
                    maxParticipants.value= result.maxParticipants;
    
                     let maxDuration= children.children[5].children[0];
                        maxDuration.value= result.maxDuration;
    
                        
                    let faculty= children.children[6].children[1];
                        faculty.selectedIndex= result.faculty;
                
    
                     let id= children.children[7];
                        id.value= result.id;
                }
        });

        }
        
        // Modal 
        $("#modalBtn").click(function () {
            $("#roomForm")[0].reset();
          
              let titleFormCreate = $("#titleDetails")[0].children[0];
             titleFormCreate.style.display= "block";
                                           
             let titleFormUpdate = $("#titleDetails")[0].children[1];
             titleFormUpdate.style.display= "none";
               $("#createRoomModal").modal("show");
            
        });

        $('[data-dismiss="modal"]').each(function () {
            $(this).click(function () {
                $("#createRoomModal").modal("hide");
            });
        });
 
         function submitRoom() {
             if ($("#roomForm").valid()){
             $('#roomForm').on('submit', function(e){
               e.preventDefault();
                let dataForm = $("#roomForm").serialize();   
                  $.ajax({
                      type: 'POST',
                      url: '/rooms/CreateRoom',
                      contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                      data: dataForm,
                      success: function (result) {
                            $("#createRoomModal").modal("hide");
                            window.location.reload();
                      },
                      error: function () {
                          console.error('Failed to receive the Data');
                      }
                  })
               });
            }
           }
       function resetFilters(){
           window.location.search = '';
       }
    </script>
}