@page
@using CoronaCheckIn.Areas.Identity.Pages.Account.Manage
@model CoronaCheckIn.Areas.Identity.Pages.Account.Manage.PersonalDataModel
@{
    ViewData["Title"] = SharedLocalizer["Settings"].Value;
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}



<div class="row">
    <div class="col-md-7 m-auto">
        <h3 class="mb-3">@SharedLocalizer["PersonalData"]</h3>
        <p>@SharedLocalizer["PersonalDataHint"]</p>
        <p>
            <strong>@SharedLocalizer["PersonalDataWarning"]</strong>
        </p>
        <div class="d-flex justify-content-between mt-3">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="text-light btn" type="submit" style="background-color:#9551FE">@SharedLocalizer["Download"]</button>
            </form>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">@SharedLocalizer["Delete"]</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
