@model IEnumerable<Account>

@Localizer["Accounts"]
<table>
    <tr>
        <th>Id</th>
        <th>@SharedLocalizer["Username"]</th>
        <th>@SharedLocalizer["Email"]</th>
        <th>@SharedLocalizer["Password"]</th>
    </tr>

    @foreach (var account in Model)
    {
    <tr>
        <td>@account.Id</td>
        <td>@account.Username</td>
        <td>@account.Email</td>
        <td>@account.Password</td>
    </tr>
    }
</table>