@model IEnumerable<User>

@{
    ViewBag.title = SharedLocalizer["users"].Value;
}

<h3>@ViewBag.title</h3>

<div class="input-group mb-3 flex">
    <div class="flex-row col-12 col-md-5">
        <input id="input-search" type="text" class="form-control" placeholder="@Localizer["Search by name..."]">
    </div>
    <div class="flex-row ms-4">
        <button class="btn btn-outline-dark" type="button" onclick="search(this)">@SharedLocalizer["Search"]</button>
    </div>
    <div class="flex-row ms-1">
        <button class="btn btn-outline-danger form-control" type="button" onclick="resetFilters(this)">@SharedLocalizer["ResetFilter"]</button>
    </div>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">@SharedLocalizer["Username"]</th>
        <th scope="col">
            @SharedLocalizer["Email"]
            <i class="bi bi-arrow-down pe-1"></i>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var account in Model)
    {
        <tr>
            <td>@account.Firstname</td>
            <td>@account.Email</td>
            <td SetSessionsAsInfected>
                <a type="submit" asp-action="Remove" asp-route-id="@account.Id" class="text-light btn" style="background-color:#9551FE">
                    <i class="bi bi-trash"></i>
                </a>
                <a type="submit" asp-action="SetAsInfected" asp-route-id="@account.Id" class="text-light btn" style="background-color:#9551FE">
                    <i class="bi bi-clipboard-pulse"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function() {
            const params = new URLSearchParams(window.location.search);
            
            $('#input-search').val(params.get('search'));
        });
        
        function search(){
            const searchString = $("#input-search").val();
            
            const params = new URLSearchParams(window.location.search);
            if (searchString.toString().trim().length > 0){
                params.set('search', searchString);
            } else {
                params.delete('search');
            }
            
            window.location.search = params.toString();
        }
        
        function resetFilters(){
           window.location.search = '';
       }
    </script>
}