@model IEnumerable<User>

@{
    ViewBag.title = SharedLocalizer["Accounts"].Value;
}

<h2>@ViewBag.title</h2>

@Localizer["Users"]
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">@SharedLocalizer["Username"]</th>
            <th scope="col">@SharedLocalizer["Email"]</th>
            <th scope="col">@SharedLocalizer["Password"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
        <tr>
            <th scope="row">@account.Id</th>
            <td>@account.Firstname</td>
            <td>@account.Email</td>
            <td>@account.PasswordHash</td>
            <td>
                <a type="submit"  asp-action="Remove" asp-route-id="@account.Id" class="text-light btn" style="background-color:#9551FE"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>

<script>
    // call delete endpoint
    function deleteUser(id) {
        var url = "/accounts/delete/" + id;
        $.ajax({
            url: url,
            type: "DELETE",
            success: function () {
                window.location.reload();
            }
        });
    }
</script>