@model IEnumerable<User>

@{
    ViewBag.title = SharedLocalizer["users"].Value;
}

<h3>@ViewBag.title</h3>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">@SharedLocalizer["Username"]</th>
        <th scope="col">@SharedLocalizer["Email"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var account in Model)
    {
        <tr>
            <td>@account.Firstname</td>
            <td>@account.Email</td>
            <td SetSessionsAsInfected>
                <a type="submit" asp-action="Remove" asp-route-id="@account.Id" class="text-light btn" style="background-color:#9551FE">
                    <i class="bi bi-trash"></i>
                </a>
                <a type="submit" asp-action="SetAsInfected" asp-route-id="@account.Id" class="text-light btn" style="background-color:#9551FE">
                    <i class="bi bi-clipboard-pulse"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>